---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #34657F;
  background-image: linear-gradient(#34657F, #34657F);
}

.main-content {
  background-color: #333f48;
  text-align:center;
  text-decoration-color: #ffffff;
  max-width: 100%;
}

